<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <meta charset="UTF-8">
    <title>上传文件</title>
</head>
<body>
<form action="http://localhost:8084/upload" method="post" enctype="multipart/form-data">
    <label>上传图片</label>
    <input type="file" name="file"/>
    <input type="submit" value="上传"/>
</form>
<form action="http://localhost:8084/delete" method="get" enctype="multipart/form-data">
    <label>删除图片</label>
    <input type="text" name="fileName"/>
    <input type="submit" value="删除"/>
</form>
</body>
</html>